*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
}

body{
  background-color: #fcf9f3;
}

.main-img,
.login-img {
  width: 100%;
  display: block;
}

h1 {
  font-family: "Playfair Display";
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 60px;
}

p {
  margin-bottom: 100px;
}

hr {
  color: #4D774E;
  margin-bottom: 40px;
}

.header {
  font-family: "Playfair Display";
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 100px;
}

.footer {
  text-align: center;
  margin-top: 200px;
  background-color: #4D774E;
  color:#fcf9f3;
}

.home-img-container,
.login-img-container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #fcf9f3;
  width: 80%;

}

h2 {
  text-align: center;
}

.home-icon {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
}
.nav-link{
  color: #fcf9f3 !important;
  font-size: 20px;
}

.row {
  margin-bottom: 1em;
}

.footer a {
  color: #fcf9f3;
}

ul {
  text-align: center;
}

.login-box {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: #fcf9f3;
  opacity: 0.7;
  color: black;
  text-align: center;
  padding-top:110px;
  
}
input[type=submit]{
  background-color: #4D774E;
  color: #fcf9f3;
}
label{
  opacity: none;
  font-weight: bold;
}

@media only screen and (max-width: 400px) {
  .main-img {
    height: 300px;
    margin-bottom: 50px !important;
  }

  .centered {
    font-size: 30px;
    font-weight: bold;
    /* text-align:; */
    width: 300px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  .home-icon {
    margin-bottom: 60px;
  }

  .home-img-container {
    margin-bottom: 100px;
  }
  .header{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
  }
  .login-box h1,
  .header h1{
    font-size: 30px;
  }

  .login-box h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .login-box {
    width: 300px;
    height: 250px;
    padding-top: 0;
    margin-top: 0;
  }

  .login-img {
    height: 400px;

  }

  .login-img-container {
    margin-bottom:50px;
  }

  .footer {
    margin-top: 100px;
  }


}
